<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:itemStat="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改管理员权限</title>
    <style>
        body{
            background-color: #f4f5f6;
        }
        .tableDiv{
            width: 800px;
            height: 600px;
            background-color:#FFFFFF;
            border-radius: 15%;
        }
        .list{
            height: 40px;
        }
    </style>
</head>
<body>
<div style="height: 40px"></div>
<center>
    <div class="tableDiv">
        <div style="height: 40px"></div>

            <div style="height: 30px"></div>
            <a th:href="@{Manager_login(manager_id = ${manager.manager_id},manager_pwd = ${manager.manager_password})}"><button>返回主菜单</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{show_editManager}"><button>查看管理员</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{show_addManager}"><button>添加管理员</button></a>
        <form action="edit_Manager" method="get">
            <input type="hidden" name="manager_id" th:value="${manager.manager_id}">
            <h2>修改管理员权限</h2>
            <div class="list" th:text="'管理员名字：'+${manager.manager_name}"></div>
            <div class="list" th:each="item, itemStat: ${privilege_infos}">
                <input type="checkbox" name="manager_privilege" th:text="${item.privilege_name}" th:value="${item.privilege_id}">
            </div>
            <input type="submit" value="提交">
        </form>
    </div>
</center>
</body>
</html>