<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>现价购买</title>
    <style>
        body{
            background-color: #f4f5f6;
        }
        .tableDiv{
            width: 800px;
            height: 100%;
            background-color:#FFFFFF;
        }
        .img{
            width: 50%;
            height: 100%;
        }
    </style>
</head>
<body>
<center>
    <div style="height: 50px"><h2>现金支付</h2></div>
<div class="tableDiv">
    <img src="http://127.0.0.1:8080/2.jpg" class="img">
</div>
</center>
</body>
</html>